<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="/styles/student_login.css"> <!-- External CSS -->
</head>
<body>

    <div class="form-container">
        <h1>Student Login</h1>
        <form action="/login/student" method="POST">
            <label for="prn"></label>
            <input type="text" id="prn" name="prn" placeholder="Enter your PRN" required>
            <p>eg: 2222521242016</p>
            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>
            
            <!-- <p>ex. 2222521242016</p> -->
            <p>Note:The Default Password Is :- 12345</p>
            
            <button type="submit">Login</button>
        </form>
    </div>

</body>
</html>
